openapi: 3.0.0
info:
  title: Operations API
  description: This API reference is organized by resource. Actions are performed
    by sending HTTP requests to resource URLs or making RPC calls. For more information
    about API architecture, see [API Concepts](/docs/api-design-guide/).
  version: Version not set.
  x-y-docUri: api-ref
  x-y-baseUrl: https://operation.api.cloud.yandex.net
paths:
  /operations/{operationId}:
    get:
      tags:
      - Operation
      summary: Returns the specified Operation resource.
      operationId: OperationGet
      parameters:
      - name: operationId
        in: path
        description: |-
          Required.
          ID of the Operation resource to return.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      x-y-navtitle: get
  /operations/{operationId}:cancel:
    get:
      tags:
      - Operation
      summary: Cancels the specified operation.
      description: Note that currently Object Storage API does not support cancelling
        operations.
      operationId: OperationCancel
      parameters:
      - name: operationId
        in: path
        description: |-
          Required.
          ID of the operation to cancel.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      x-y-navtitle: cancel
components:
  schemas:
    Operation:
      description: An Operation resource. For more information, see [Operation](/docs/api-design-guide/concepts/operation).
      type: object
      allOf:
      - type: object
        properties:
          id:
            description: ID of the operation.
            type: string
          description:
            description: Description of the operation. 0-256 characters long.
            type: string
          createdAt:
            description: "Creation timestamp.\n\nString in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)
              text format. The range of possible values is from \n`0001-01-01T00:00:00Z`
              to `9999-12-31T23:59:59.999999999Z`, i.e. from 0 to 9 digits for fractions
              of a second.\n\nTo work with values in this field, use the APIs described
              in the \n[Protocol Buffers reference](https://developers.google.com/protocol-buffers/docs/reference/overview).
              \nIn some languages, built-in datetime utilities do not support nanosecond
              precision (9 digits)."
            type: string
            format: date-time
          createdBy:
            description: ID of the user or service account who initiated the operation.
            type: string
          modifiedAt:
            description: "The time when the Operation resource was last modified.\n\nString
              in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format. The
              range of possible values is from \n`0001-01-01T00:00:00Z` to `9999-12-31T23:59:59.999999999Z`,
              i.e. from 0 to 9 digits for fractions of a second.\n\nTo work with values
              in this field, use the APIs described in the \n[Protocol Buffers reference](https://developers.google.com/protocol-buffers/docs/reference/overview).
              \nIn some languages, built-in datetime utilities do not support nanosecond
              precision (9 digits)."
            type: string
            format: date-time
          done:
            description: |-
              If the value is `false`, it means the operation is still in progress.
              If `true`, the operation is completed, and either `error` or `response` is available.
            type: boolean
            format: boolean
          metadata:
            description: |-
              Service-specific metadata associated with the operation.
              It typically contains the ID of the target resource that the operation is performed on.
              Any method that returns a long-running operation should document the metadata type, if any.
            type: object
      - title: result
        type: object
        maxProperties: 1
        properties:
          error:
            $ref: '#/components/schemas/Status'
            description: The error result of the operation in case of failure or cancellation.
          response:
            description: |-
              The normal response of the operation in case of success.
              If the original method returns no data on success, such as Delete,
              the response is [google.protobuf.Empty](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#empty).
              If the original method is the standard Create/Update,
              the response should be the target resource of the operation.
              Any method that returns a long-running operation should document the response type, if any.
            type: object
    Status:
      description: The error result of the operation in case of failure or cancellation.
      type: object
      properties:
        code:
          description: Error code. An enum value of [google.rpc.Code](https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto).
          type: integer
          format: int32
        message:
          description: An error message.
          type: string
        details:
          description: A list of messages that carry the error details.
          type: array
          items:
            type: object
tags:
- name: Operation
  description: A set of methods for managing operations for asynchronous API requests.
