openapi: 3.0.0
info:
  title: Identity and Access Management API
  description: This API reference is organized by resource. Actions are performed
    by sending HTTP requests to resource URLs or making RPC calls. For more information
    about API architecture, see [API Concepts](/docs/api-design-guide/).
  version: v1
  x-y-docUri: api-ref
  x-y-baseUrl: https://iam.api.cloud.yandex.net
paths:
  /iam/aws-compatibility/v1/accessKeys:
    get:
      tags:
      - AccessKey
      summary: Retrieves the list of access keys for the specified service account.
      operationId: AccessKeyList
      parameters:
      - name: serviceAccountId
        in: query
        description: |-
          ID of the service account to list access keys for.
          To get the service account ID, use a [list](/docs/iam/api-ref/ServiceAccount/list) request.
          If not specified, it defaults to the subject that made the request.

          The maximum string length in characters is 50.
        schema:
          type: string
      - name: pageSize
        in: query
        description: |-
          The maximum number of results per page to return. If the number of available
          results is larger than [pageSize](/docs/iam/api-ref/AccessKey/list#query_params),
          the service returns a [nextPageToken](/docs/iam/api-ref/AccessKey/list#responses)
          that can be used to get the next page of results in subsequent list requests.
          Default value: 100.

          The maximum value is 1000.
        schema:
          type: string
          format: int64
      - name: pageToken
        in: query
        description: |-
          Page token. To get the next page of results, set [pageToken](/docs/iam/api-ref/AccessKey/list#query_params)
          to the [nextPageToken](/docs/iam/api-ref/AccessKey/list#responses)
          returned by a previous list request.

          The maximum string length in characters is 2000.
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccessKeysResponse'
      x-y-navtitle: list
    post:
      tags:
      - AccessKey
      summary: Creates an access key for the specified service account.
      operationId: AccessKeyCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccessKeyRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAccessKeyResponse'
      x-y-navtitle: create
  /iam/aws-compatibility/v1/accessKeys/{accessKeyId}:
    get:
      tags:
      - AccessKey
      summary: Returns the specified access key.
      description: To get the list of available access keys, make a [list](/docs/iam/api-ref/AccessKey/list)
        request.
      operationId: AccessKeyGet
      parameters:
      - name: accessKeyId
        in: path
        description: |-
          Required.
          ID of the AccessKey resource to return.
          To get the access key ID, use a [list](/docs/iam/api-ref/AccessKey/list) request.

          The maximum string length in characters is 50.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKey'
      x-y-navtitle: get
    delete:
      tags:
      - AccessKey
      summary: Deletes the specified access key.
      operationId: AccessKeyDelete
      parameters:
      - name: accessKeyId
        in: path
        description: |-
          Required.
          ID of the access key to delete.
          To get the access key ID, use a [list](/docs/iam/api-ref/AccessKey/list) request.

          The maximum string length in characters is 50.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      x-y-navtitle: delete
      x-y-operation-metadata:
        $ref: '#/components/schemas/DeleteAccessKeyMetadata'
      x-y-operation-response: Empty
    patch:
      tags:
      - AccessKey
      summary: Updates the specified access key.
      operationId: AccessKeyUpdate
      parameters:
      - name: accessKeyId
        in: path
        description: |-
          Required.
          ID of the AccessKey resource to update.
          To get the access key ID, use a [list](/docs/iam/api-ref/AccessKey/list) request.

          The maximum string length in characters is 50.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccessKeyRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      x-y-navtitle: update
      x-y-operation-metadata:
        $ref: '#/components/schemas/UpdateAccessKeyMetadata'
      x-y-operation-response: '[AccessKey](/docs/iam/api-ref/AccessKey#representation)'
  /iam/aws-compatibility/v1/accessKeys/{accessKeyId}/operations:
    get:
      tags:
      - AccessKey
      summary: Retrieves the list of operations for the specified access key.
      operationId: AccessKeyListOperations
      parameters:
      - name: accessKeyId
        in: path
        description: |-
          Required.
          ID of the key to list operations for.

          The maximum string length in characters is 50.
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        description: |-
          The maximum number of results per page to return. If the number of available
          results is larger than [pageSize](/docs/iam/api-ref/AccessKey/listOperations#query_params),
          the service returns a [nextPageToken](/docs/iam/api-ref/AccessKey/listOperations#responses)
          that can be used to get the next page of results in subsequent list requests.
          Default value: 100.

          Acceptable values are 0 to 1000, inclusive.
        schema:
          type: string
          format: int64
      - name: pageToken
        in: query
        description: |-
          Page token. To get the next page of results, set [pageToken](/docs/iam/api-ref/AccessKey/listOperations#query_params) to the
          [nextPageToken](/docs/iam/api-ref/AccessKey/listOperations#responses) returned by a previous list request.

          The maximum string length in characters is 2000.
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccessKeyOperationsResponse'
      x-y-navtitle: listOperations
components:
  schemas:
    AccessKey:
      description: |-
        An access key.
        For more information, see [AWS-compatible access keys](/docs/iam/concepts/authorization/access-key).
      type: object
      properties:
        id:
          description: |-
            ID of the AccessKey resource.
            It is used to manage secret credentials: an access key ID and a secret access key.
          type: string
        serviceAccountId:
          description: ID of the service account that the access key belongs to.
          type: string
        createdAt:
          description: "Creation timestamp.\n\nString in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)
            text format. The range of possible values is from \n`0001-01-01T00:00:00Z`
            to `9999-12-31T23:59:59.999999999Z`, i.e. from 0 to 9 digits for fractions
            of a second.\n\nTo work with values in this field, use the APIs described
            in the \n[Protocol Buffers reference](https://developers.google.com/protocol-buffers/docs/reference/overview).
            \nIn some languages, built-in datetime utilities do not support nanosecond
            precision (9 digits)."
          type: string
          format: date-time
        description:
          description: Description of the access key. 0-256 characters long.
          type: string
        keyId:
          description: |-
            ID of the access key.
            The key is AWS compatible.
          type: string
    CreateAccessKeyRequest:
      type: object
      properties:
        serviceAccountId:
          description: |-
            ID of the service account to create an access key for.
            To get the service account ID, use a [list](/docs/iam/api-ref/ServiceAccount/list) request.
            If not specified, it defaults to the subject that made the request.

            The maximum string length in characters is 50.
          type: string
        description:
          description: |-
            Description of the access key.

            The maximum string length in characters is 256.
          type: string
    CreateAccessKeyResponse:
      type: object
      properties:
        accessKey:
          $ref: '#/components/schemas/AccessKey_in_CreateAccessKeyResponse_accessKey'
        secret:
          description: |-
            Secret access key.
            The key is AWS compatible.
          type: string
    DeleteAccessKeyMetadata:
      type: object
      properties:
        accessKeyId:
          description: ID of the access key that is being deleted.
          type: string
    Empty:
      description: Empty JSON object `` {} ``.
      type: object
      maxProperties: 0
    FieldMask:
      description: |-
        A comma-separated names off ALL fields to be updated.
        Only the specified fields will be changed. The others will be left untouched.
        If the field is specified in `` updateMask `` and no value for that field was sent in the request,
        the field's value will be reset to the default. The default value for most fields is null or 0.

        If `` updateMask `` is not sent in the request, all fields' values will be updated.
        Fields specified in the request will be updated to provided values.
        The rest of the fields will be reset to the default.
      type: string
    ListAccessKeyOperationsResponse:
      type: object
      properties:
        operations:
          description: List of operations for the specified access key.
          type: array
          items:
            $ref: '#/components/schemas/Operation'
        nextPageToken:
          description: |-
            This token allows you to get the next page of results for list requests. If the number of results
            is larger than [pageSize](/docs/iam/api-ref/AccessKey/listOperations#query_params), use the [nextPageToken](/docs/iam/api-ref/AccessKey/listOperations#responses) as the value
            for the [pageToken](/docs/iam/api-ref/AccessKey/listOperations#query_params) query parameter in the next list request.
            Each subsequent list request will have its own [nextPageToken](/docs/iam/api-ref/AccessKey/listOperations#responses) to continue paging through the results.
          type: string
    ListAccessKeysResponse:
      type: object
      properties:
        accessKeys:
          description: List of access keys.
          type: array
          items:
            $ref: '#/components/schemas/AccessKey'
        nextPageToken:
          description: |-
            This token allows you to get the next page of results for list requests. If the number of results
            is larger than [pageSize](/docs/iam/api-ref/AccessKey/list#query_params), use
            the [nextPageToken](/docs/iam/api-ref/AccessKey/list#responses) as the value
            for the [pageToken](/docs/iam/api-ref/AccessKey/list#query_params) query parameter
            in the next list request. Each subsequent list request will have its own
            [nextPageToken](/docs/iam/api-ref/AccessKey/list#responses) to continue paging through the results.
          type: string
    Operation:
      description: An Operation resource. For more information, see [Operation](/docs/api-design-guide/concepts/operation).
      type: object
      allOf:
      - type: object
        properties:
          id:
            description: ID of the operation.
            type: string
          description:
            description: Description of the operation. 0-256 characters long.
            type: string
          createdAt:
            description: "Creation timestamp.\n\nString in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)
              text format. The range of possible values is from \n`0001-01-01T00:00:00Z`
              to `9999-12-31T23:59:59.999999999Z`, i.e. from 0 to 9 digits for fractions
              of a second.\n\nTo work with values in this field, use the APIs described
              in the \n[Protocol Buffers reference](https://developers.google.com/protocol-buffers/docs/reference/overview).
              \nIn some languages, built-in datetime utilities do not support nanosecond
              precision (9 digits)."
            type: string
            format: date-time
          createdBy:
            description: ID of the user or service account who initiated the operation.
            type: string
          modifiedAt:
            description: "The time when the Operation resource was last modified.\n\nString
              in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format. The
              range of possible values is from \n`0001-01-01T00:00:00Z` to `9999-12-31T23:59:59.999999999Z`,
              i.e. from 0 to 9 digits for fractions of a second.\n\nTo work with values
              in this field, use the APIs described in the \n[Protocol Buffers reference](https://developers.google.com/protocol-buffers/docs/reference/overview).
              \nIn some languages, built-in datetime utilities do not support nanosecond
              precision (9 digits)."
            type: string
            format: date-time
          done:
            description: |-
              If the value is `false`, it means the operation is still in progress.
              If `true`, the operation is completed, and either `error` or `response` is available.
            type: boolean
            format: boolean
          metadata:
            description: |-
              Service-specific metadata associated with the operation.
              It typically contains the ID of the target resource that the operation is performed on.
              Any method that returns a long-running operation should document the metadata type, if any.
            type: object
      - title: result
        type: object
        maxProperties: 1
        properties:
          error:
            $ref: '#/components/schemas/Status'
            description: The error result of the operation in case of failure or cancellation.
          response:
            description: |-
              The normal response of the operation in case of success.
              If the original method returns no data on success, such as Delete,
              the response is [google.protobuf.Empty](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#empty).
              If the original method is the standard Create/Update,
              the response should be the target resource of the operation.
              Any method that returns a long-running operation should document the response type, if any.
            type: object
    Status:
      description: The error result of the operation in case of failure or cancellation.
      type: object
      properties:
        code:
          description: Error code. An enum value of [google.rpc.Code](https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto).
          type: integer
          format: int32
        message:
          description: An error message.
          type: string
        details:
          description: A list of messages that carry the error details.
          type: array
          items:
            type: object
    UpdateAccessKeyMetadata:
      type: object
      properties:
        accessKeyId:
          description: ID of the AccessKey resource that is being updated.
          type: string
    UpdateAccessKeyRequest:
      type: object
      properties:
        updateMask:
          $ref: '#/components/schemas/FieldMask_in_UpdateAccessKeyRequest_updateMask'
        description:
          description: |-
            Description of the access key.

            The maximum string length in characters is 256.
          type: string
    AccessKey_in_CreateAccessKeyResponse_accessKey:
      description: |-
        AccessKey resource.

        An access key.
        For more information, see [AWS-compatible access keys](/docs/iam/concepts/authorization/access-key).
      type: object
      properties:
        id:
          description: |-
            ID of the AccessKey resource.
            It is used to manage secret credentials: an access key ID and a secret access key.
          type: string
        serviceAccountId:
          description: ID of the service account that the access key belongs to.
          type: string
        createdAt:
          description: "Creation timestamp.\n\nString in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)
            text format. The range of possible values is from \n`0001-01-01T00:00:00Z`
            to `9999-12-31T23:59:59.999999999Z`, i.e. from 0 to 9 digits for fractions
            of a second.\n\nTo work with values in this field, use the APIs described
            in the \n[Protocol Buffers reference](https://developers.google.com/protocol-buffers/docs/reference/overview).
            \nIn some languages, built-in datetime utilities do not support nanosecond
            precision (9 digits)."
          type: string
          format: date-time
        description:
          description: Description of the access key. 0-256 characters long.
          type: string
        keyId:
          description: |-
            ID of the access key.
            The key is AWS compatible.
          type: string
    FieldMask_in_UpdateAccessKeyRequest_updateMask:
      description: |-
        Field mask that specifies which fields of the Accesskey resource are going to be updated.

        A comma-separated names off ALL fields to be updated.
        Only the specified fields will be changed. The others will be left untouched.
        If the field is specified in `` updateMask `` and no value for that field was sent in the request,
        the field's value will be reset to the default. The default value for most fields is null or 0.

        If `` updateMask `` is not sent in the request, all fields' values will be updated.
        Fields specified in the request will be updated to provided values.
        The rest of the fields will be reset to the default.
      type: string
tags:
- name: AccessKey
  description: A set of methods for managing access keys.
