[submodule "ru/ydb/ydb-docs-core"]
	path = ru/ydb/ydb-docs-core
	url = ssh://git@bb.yandex-team.ru/cloud/ydb-docs-core.git
[submodule "ru/query/yql-docs-core"]
	path = ru/query/yql-docs-core
	url = ssh://git@bb.yandex-team.ru/cloud/yql-docs-core.git
[submodule "en/ydb/ydb-docs-core"]
	path = en/ydb/ydb-docs-core
	url = ssh://git@bb.yandex-team.ru/cloud/ydb-docs-core.git
