For example, storing the results of a total of 640 hours of tests for one month will cost:

> (600 * $0.00) + (40 * $1.44) = $57.60