openapi: 3.0.0
info:
  title: Marketplace Metering API
  description: |-
    This reference provides descriptions of the Marketplace Metering API.
    Marketplace sellers can use this API to submit usage data for custom usage dimensions.
    This API reference is organized by resource. Actions are performed by sending HTTP requests to resource URLs. All API methods are presented on this page. For more information about usage Metering API, see [GitHub examples](https://github.com/yandex-cloud/python-sdk/tree/master/examples/marketplace/metering-api).
  version: v1
  x-y-docUri: api-ref
  x-y-baseUrl: https://marketplace.api.cloud.yandex.net
paths:
  /marketplace/v1/metering/imageProductUsage/write:
    post:
      tags:
      - ImageProductUsage
      summary: Writes image product's usage. Authentication is by user's service account.
      operationId: ImageProductUsageWrite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteImageProductUsageRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WriteImageProductUsageResponse'
      x-y-navtitle: write
components:
  schemas:
    AcceptedUsageRecord:
      type: object
      properties:
        uuid:
          description: Unique identifier of the usage record (UUID format).
          type: string
    RejectedUsageRecord:
      type: object
      properties:
        uuid:
          description: Unique identifier of the usage record (UUID format).
          type: string
        reason:
          $ref: '#/components/schemas/RejectedUsageRecordReason_in_RejectedUsageRecord_reason'
    RejectedUsageRecordReason:
      type: string
      enum:
      - DUPLICATE
      - EXPIRED
      - INVALID_TIMESTAMP
      - INVALID_SKU_ID
      - INVALID_PRODUCT_ID
      - INVALID_QUANTITY
      - INVALID_ID
    UsageRecord:
      type: object
      properties:
        uuid:
          description: |-
            Required.
            Unique identifier of the usage record (UUID format).

            The maximum string length in characters is 36.
          type: string
        skuId:
          description: |-
            Required.
            Consumed Marketplace SKU ID, linked to `UsageRecord.product_id`.

            The maximum string length in characters is 50.
          type: string
        quantity:
          description: |-
            Quantity of SKU consumed, measured in `sku.usage_unit` units (e.g. bytes).

            Value must be greater than 0.
          type: string
          format: int64
        timestamp:
          description: "Required.\nTimestamp in UTC for which the usage is being reported.\n\nString
            in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format. The range
            of possible values is from \n`0001-01-01T00:00:00Z` to `9999-12-31T23:59:59.999999999Z`,
            i.e. from 0 to 9 digits for fractions of a second.\n\nTo work with values
            in this field, use the APIs described in the \n[Protocol Buffers reference](https://developers.google.com/protocol-buffers/docs/reference/overview).
            \nIn some languages, built-in datetime utilities do not support nanosecond
            precision (9 digits)."
          type: string
          format: date-time
    WriteImageProductUsageRequest:
      type: object
      properties:
        validateOnly:
          description: Checks whether you have the access required for the emit usage.
          type: boolean
          format: boolean
        productId:
          description: |-
            Required.
            Marketplace Product's ID.

            The maximum string length in characters is 50.
          type: string
        usageRecords:
          description: |-
            Required.
            List of product usage records (up to 25 per request).

            The number of elements must be in the range 1-25.
          type: array
          items:
            $ref: '#/components/schemas/UsageRecord'
    WriteImageProductUsageResponse:
      type: object
      properties:
        accepted:
          description: List of accepted product usage records.
          type: array
          items:
            $ref: '#/components/schemas/AcceptedUsageRecord'
        rejected:
          description: List of rejected product usage records (with reason).
          type: array
          items:
            $ref: '#/components/schemas/RejectedUsageRecord'
    RejectedUsageRecordReason_in_RejectedUsageRecord_reason:
      description: The reason of rejection.
      type: string
      enum:
      - DUPLICATE
      - EXPIRED
      - INVALID_TIMESTAMP
      - INVALID_SKU_ID
      - INVALID_PRODUCT_ID
      - INVALID_QUANTITY
      - INVALID_ID
tags:
- name: ImageProductUsage
  description: A set of methods for managing image product's usage.
