.codehilite, .codehilite code, .codehilite pre {
  padding: 6px 0px 6px 12px;
  margin-bottom: 16px;
}

.md-typeset .codehilite {
  background-color: #f6f6f6;
}

.md-typeset code {
  word-break: keep-all;
}

.md-typeset table:not([class]) td {
    padding: 1.2rem 0.4rem;
}

.codehilite .c { color: #009999 } /* Comment */
.codehilite .ch { color: #009999 } /* Comment.Hashbang */
.codehilite .cm { color: #009999 } /* Comment.Multiline */
.codehilite .cp { color: #009999 } /* Comment.Preproc */
.codehilite .cpf { color: #009999 } /* Comment.PreprocFile */
.codehilite .c1 { color: #009999 } /* Comment.Single */
.codehilite .cs { color: #009999 } /* Comment.Special */

.codehilite .n { color: #000000 }
