openapi: 3.0.0
info:
  title: Locator API
  description: The service does not operate with resources.
  version: v1
  x-y-docUri: api-ref
  x-y-baseUrl: https://locator.api.cloud.yandex.net
paths:
  /locator/v1/getLocation:
    post:
      tags:
      - Locator
      summary: |-
        Returns a location and accuracy radius based on information about IP address,
        cell towers and WiFi access points that the mobile client can detect.
      operationId: LocatorGetLocation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
      x-y-navtitle: getLocation
components:
  schemas:
    CellInfo:
      type: object
      properties:
        mobileCountryCode:
          description: |-
            Required. Mobile Country Code ([MCC](https://en.wikipedia.org/wiki/Mobile_country_code)).

            Acceptable values are 1 to 999, inclusive.
          type: string
          format: int64
        mobileNetworkCode:
          description: |-
            Required. The cell tower's Mobile Network Code:

            * For GSM and WCDMA networks - [MNC](https://en.wikipedia.org/wiki/Mobile_country_code).
            * For CDMA - System ID (SID).

            Value must be greater than 0.
          type: string
          format: int64
        cellId:
          description: |-
            Required. Unique identifier of the cell:

            * For GSM - Cell ID ([CID](https://en.wikipedia.org/wiki/Cell_ID).
            * For CDMA - Base Station ID (BID).
            * For WCDMA - UTRAN Cell ID which is a concatenation of the [Radio Network Controller](https://en.wikipedia.org/wiki/Radio_Network_Controller) ID and Cell ID. Specifying only the Cell ID value in WCDMA networks may return inaccurate results.

            Value must be greater than 0.
          type: string
          format: int64
        locationAreaCode:
          description: |-
            Required.

            * For GSM and WCDMA - Location Area Code ([LAC](https://en.wikipedia.org/wiki/Mobility_management#Location_area)).
            * For CDMA - Network ID (NID).
            * For LTE - [Tracking Area Code](https://en.wikipedia.org/wiki/Mobility_management#Tracking_area).

            Value must be greater than 0.
          type: string
          format: int64
        signalStrength:
          description: |-
            Required. The current signal strength measured in dBm.

            Value must be less than 0.
          type: string
          format: int64
    Location:
      type: object
      properties:
        latitude:
          description: Assumed location latitude in degrees, from -90 to 90.
          type: number
          format: double
        longitude:
          description: Assumed location longitude in degrees, from -180 to 180.
          type: number
          format: double
        precision:
          description: |-
            Assumed location precision in meters.
            This represents the radius of a circle around this location.
          type: number
          format: double
    LocationNotFound:
      type: object
      properties:
        message:
          description: Message with the reason.
          type: string
    LocationRequest:
      type: object
      properties:
        folderId:
          description: |-
            ID of the folder to which you have access.
            Required for authorization with a user account (see [UserAccount](/docs/iam/api-ref/UserAccount#representation) resource).
            Don't specify this field if you make the request on behalf of a service account.

            The maximum string length in characters is 50.
          type: string
        cellTowers:
          description: An array of visible cell towers around device.
          type: array
          items:
            $ref: '#/components/schemas/CellInfo'
        wifiAccessPoints:
          description: An array of visible WiFi access points around device.
          type: array
          items:
            $ref: '#/components/schemas/WifiInfo'
        ip:
          description: User IP address in IPv4 or IPv6 format.
          type: string
        uuid:
          description: |-
            Unique user identifier that can be used for debugging. May be empty.

            The maximum string length in characters is 64.
            Value must match the regular expression `` [A-Za-z0-9._-] ``.
          type: string
    LocationResponse:
      type: object
      allOf:
      - title: response
        type: object
        maxProperties: 1
        properties:
          location:
            $ref: '#/components/schemas/Location'
            description: The user's estimated location.
          locationNotFound:
            $ref: '#/components/schemas/LocationNotFound'
            description: An error description if the user's location was not found.
    WifiInfo:
      type: object
      properties:
        bssid:
          description: |-
            Required.
            The MAC address of the WiFi access point. It's typically called a BSS, BSSID or MAC address.

            The value is 12 hexadecimal digits without `:` (colon) separators.

            Value must match the regular expression `` [0-9a-fA-F]{12} ``.
          type: string
        signalStrength:
          description: |-
            Required. The current signal strength measured in dBm.

            Value must be less than 0.
          type: string
          format: int64
tags:
- name: Locator
  description: A set of methods for the Locator service.
