---
title: "Load test results"
description: "During a load test, the service being tested returns an error for some requests rather than a response for various reasons. This could be a protocol error, a timeout, or an internal error on the generator side. If successful, 0 is returned on the network code graph. Other codes are defined on this page."
---

# Load test results

{% include [network-response-codes.md](../../_includes/load-testing/network-response-codes.md) %}