openapi: 3.0.0
info:
  title: SpeechKit Recognition API v3
  description: The SpeechKit Speech To Text Service API v3 allows application developers
    to use speech recognition technologies. <br>The service does not operate with
    resources. Actions are performed by making RPC calls. For more information about
    API architecture, see [API Concepts](/docs/api-design-guide/).
  version: v3
  x-y-docUri: stt-v3/api-ref
  x-y-baseUrl: https://stt.api.cloud.yandex.net
paths: {}
components:
  schemas:
    Alternative:
      description: Recognition of specific time frame.
      type: object
      properties:
        words:
          description: Words in time frame.
          type: array
          items:
            $ref: '#/components/schemas/Word'
        text:
          description: Text in time frame.
          type: string
        startTimeMs:
          description: Start of time frame.
          type: string
          format: int64
        endTimeMs:
          description: End of time frame.
          type: string
          format: int64
        confidence:
          description: The hypothesis confidence. Currently is not used.
          type: number
          format: double
        languages:
          description: Distribution over possible languages.
          type: array
          items:
            $ref: '#/components/schemas/LanguageEstimation'
    AlternativeUpdate:
      description: Update of hypothesis.
      type: object
      properties:
        alternatives:
          description: List of hypothesis for timeframes.
          type: array
          items:
            $ref: '#/components/schemas/Alternative'
        channelTag:
          description: Tag for distinguish audio channels.
          type: string
    AudioChunk:
      description: Data chunk with audio.
      type: object
      properties:
        data:
          description: Bytes with audio data.
          type: string
          format: byte
    AudioCursors:
      description: AudioCursors are state of ASR recognition stream.
      type: object
      properties:
        receivedDataMs:
          description: Amount of audio chunks server received. This cursor is moved
            after each audio chunk was received by server.
          type: string
          format: int64
        resetTimeMs:
          description: Input stream reset data.
          type: string
          format: int64
        partialTimeMs:
          description: |-
            How much audio was processed. This time includes trimming silences as well. This cursor is moved after server received enough data
             to update recognition results (includes silence as well).
          type: string
          format: int64
        finalTimeMs:
          description: |-
            Time of last final. This cursor is moved when server decides that recognition from start of audio until final_time_ms will not change anymore
             usually this even is followed by EOU detection (but this could change in future).
          type: string
          format: int64
        finalIndex:
          description: This is index of last final server send. Incremented after
            each new final.
          type: string
          format: int64
        eouTimeMs:
          description: |-
            Estimated time of EOU. Cursor is updated after each new EOU is sent.
             For external classifier this equals to received_data_ms at the moment EOU event arrives.
             For internal classifier this is estimation of time. The time is not exact and has the same guarantees as word timings.
          type: string
          format: int64
    AudioFormatOptions:
      description: Audio format options.
      type: object
      allOf:
      - title: AudioFormat
        type: object
        maxProperties: 1
        properties:
          rawAudio:
            $ref: '#/components/schemas/RawAudio'
            description: Audio without container.
          containerAudio:
            $ref: '#/components/schemas/ContainerAudio'
            description: Audio is wrapped in container.
    CodeType:
      type: string
      enum:
      - WORKING
      - WARNING
      - CLOSED
    ContainerAudio:
      description: Audio with fixed type in container. Used in AudioFormat options.
      type: object
      properties:
        containerAudioType:
          $ref: '#/components/schemas/ContainerAudioContainerAudioType_in_ContainerAudio_containerAudioType'
    ContainerAudioContainerAudioType:
      description: |2-
         - WAV: Audio bit depth 16-bit signed little-endian (Linear PCM).
         - OGG_OPUS: Data is encoded using the OPUS audio codec and compressed using the OGG container format.
         - MP3: Data is encoded using MPEG-1/2 Layer III and compressed using the MP3 container format.
      type: string
      enum:
      - WAV
      - OGG_OPUS
      - MP3
    DefaultEouClassifier:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/DefaultEouClassifierEouSensitivity_in_DefaultEouClassifier_type'
        maxPauseBetweenWordsHintMs:
          description: Hint for max pause between words. Our EOU detector could use
            this information to distinguish between end of utterance and slow speech
            (like one <long pause> two <long pause> three, etc).
          type: string
          format: int64
    DefaultEouClassifierEouSensitivity:
      type: string
      enum:
      - DEFAULT
      - HIGH
    Eou:
      description: Force EOU
      type: object
      properties: {}
    EouClassifierOptions:
      type: object
      allOf:
      - title: Classifier
        type: object
        maxProperties: 1
        properties:
          defaultClassifier:
            $ref: '#/components/schemas/DefaultEouClassifier'
            description: EOU classifier provided by SpeechKit. Default.
          externalClassifier:
            $ref: '#/components/schemas/ExternalEouClassifier'
            description: EOU is enforced by external messages from user.
    EouUpdate:
      description: Update information for external End of Utterance.
      type: object
      properties:
        timeMs:
          description: EOU estimated time.
          type: string
          format: int64
    ExternalEouClassifier:
      description: Use EOU provided by user
      type: object
      properties: {}
    FinalRefinement:
      description: Refinement for final hypo. For example, text normalization is refinement.
      type: object
      allOf:
      - type: object
        properties:
          finalIndex:
            description: Index of final for which server sends additional information.
            type: string
            format: int64
      - title: Type
        type: object
        maxProperties: 1
        properties:
          normalizedText:
            $ref: '#/components/schemas/AlternativeUpdate'
            description: Normalized text instead of raw one.
    LanguageEstimation:
      description: Estimation of language and its probability.
      type: object
      properties:
        languageCode:
          description: Language code in ISO 639-1 format.
          type: string
        probability:
          description: Estimation of language probability.
          type: number
          format: double
    LanguageRestrictionOptions:
      description: Type of restriction for the list of languages expected in the incoming
        speech stream.
      type: object
      properties:
        restrictionType:
          $ref: '#/components/schemas/LanguageRestrictionOptionsLanguageRestrictionType_in_LanguageRestrictionOptions_restrictionType'
        languageCode:
          type: array
          items:
            type: string
    LanguageRestrictionOptionsLanguageRestrictionType:
      description: |2-
         - WHITELIST: The allowing list. The incoming audio can contain only the listed languages.
         - BLACKLIST: The forbidding list. The incoming audio cannot contain the listed languages.
      type: string
      enum:
      - WHITELIST
      - BLACKLIST
    RawAudio:
      description: RAW Audio format spec (no container to infer type). Used in AudioFormat
        options.
      type: object
      properties:
        audioEncoding:
          $ref: '#/components/schemas/RawAudioAudioEncoding_in_RawAudio_audioEncoding'
        sampleRateHertz:
          description: PCM sample rate
          type: string
          format: int64
        audioChannelCount:
          description: PCM channel count. Currently only single channel audio is supported
            in real-time recognition.
          type: string
          format: int64
    RawAudioAudioEncoding:
      description: ' - LINEAR16_PCM: Audio bit depth 16-bit signed little-endian (Linear
        PCM).'
      type: string
      enum:
      - LINEAR16_PCM
    RecognitionModelOptions:
      type: object
      properties:
        model:
          description: Reserved for future, do not use.
          type: string
        audioFormat:
          $ref: '#/components/schemas/AudioFormatOptions_in_RecognitionModelOptions_audioFormat'
        textNormalization:
          $ref: '#/components/schemas/TextNormalizationOptions_in_RecognitionModelOptions_textNormalization'
        languageRestriction:
          $ref: '#/components/schemas/LanguageRestrictionOptions_in_RecognitionModelOptions_languageRestriction'
        audioProcessingType:
          $ref: '#/components/schemas/RecognitionModelOptionsAudioProcessingType_in_RecognitionModelOptions_audioProcessingType'
    RecognitionModelOptionsAudioProcessingType:
      type: string
      enum:
      - REAL_TIME
      - FULL_DATA
    SessionUuid:
      description: Session identifier.
      type: object
      properties:
        uuid:
          description: Internal session identifier.
          type: string
        userRequestId:
          description: User session identifier.
          type: string
    SilenceChunk:
      description: Data chunk with silence.
      type: object
      properties:
        durationMs:
          description: Duration of silence chunk in ms.
          type: string
          format: int64
    StatusCode:
      description: Status message
      type: object
      properties:
        codeType:
          $ref: '#/components/schemas/CodeType_in_StatusCode_codeType'
        message:
          description: Human readable message.
          type: string
    StreamingOptions:
      type: object
      properties:
        recognitionModel:
          $ref: '#/components/schemas/RecognitionModelOptions_in_StreamingOptions_recognitionModel'
        eouClassifier:
          $ref: '#/components/schemas/EouClassifierOptions_in_StreamingOptions_eouClassifier'
    StreamingResponse:
      description: |-
        Responses from server.
        Each response contains session uuid
        AudioCursors
        plus specific event
      type: object
      allOf:
      - type: object
        properties:
          sessionUuid:
            $ref: '#/components/schemas/SessionUuid'
            description: Session identifier
          audioCursors:
            $ref: '#/components/schemas/AudioCursors'
            description: 'Progress bar for stream session recognition: how many data
              we obtained; final and partial times; etc.'
          responseWallTimeMs:
            description: Wall clock on server side. This is time when server wrote
              results to stream
            type: string
            format: int64
      - title: Event
        type: object
        maxProperties: 1
        properties:
          partial:
            $ref: '#/components/schemas/AlternativeUpdate'
            description: |-
              Partial results, server will send them regularly after enough audio data was received from user. This are current text estimation
               from final_time_ms to partial_time_ms. Could change after new data will arrive.
          final:
            $ref: '#/components/schemas/AlternativeUpdate'
            description: Final results, the recognition is now fixed until final_time_ms.
              For now, final is sent only if the EOU event was triggered. This could
              be change in future releases.
          eouUpdate:
            $ref: '#/components/schemas/EouUpdate'
            description: |-
              After EOU classifier, send the message with final, send the EouUpdate with time of EOU
               before eou_update we send final with the same time. there could be several finals before eou update.
          finalRefinement:
            $ref: '#/components/schemas/FinalRefinement'
            description: |-
              For each final, if normalization is enabled, sent the normalized text (or some other advanced post-processing).
                 Final normalization will introduce additional latency.
          statusCode:
            $ref: '#/components/schemas/StatusCode'
            description: Status messages, send by server with fixed interval (keep-alive).
    TextNormalizationOptions:
      description: Options
      type: object
      properties:
        textNormalization:
          $ref: '#/components/schemas/TextNormalizationOptionsTextNormalization_in_TextNormalizationOptions_textNormalization'
        profanityFilter:
          description: 'Profanity filter (default: false).'
          type: boolean
          format: boolean
        literatureText:
          description: 'Rewrite text in literature style (default: false).'
          type: boolean
          format: boolean
    TextNormalizationOptionsTextNormalization:
      description: |-
        Normalization

         - TEXT_NORMALIZATION_ENABLED: Enable normalization
         - TEXT_NORMALIZATION_DISABLED: Disable normalization
      type: string
      enum:
      - TEXT_NORMALIZATION_ENABLED
      - TEXT_NORMALIZATION_DISABLED
    Word:
      description: Recognized word.
      type: object
      properties:
        text:
          description: Word text.
          type: string
        startTimeMs:
          description: Estimation of word start time in ms.
          type: string
          format: int64
        endTimeMs:
          description: Estimation of word end time in ms.
          type: string
          format: int64
    ContainerAudioContainerAudioType_in_ContainerAudio_containerAudioType:
      description: |-
        Type of audio container.

         - WAV: Audio bit depth 16-bit signed little-endian (Linear PCM).
         - OGG_OPUS: Data is encoded using the OPUS audio codec and compressed using the OGG container format.
         - MP3: Data is encoded using MPEG-1/2 Layer III and compressed using the MP3 container format.
      type: string
      enum:
      - WAV
      - OGG_OPUS
      - MP3
    DefaultEouClassifierEouSensitivity_in_DefaultEouClassifier_type:
      description: EOU sensitivity. Currently two levels, faster with more error and
        more conservative (our default).
      type: string
      enum:
      - DEFAULT
      - HIGH
    LanguageRestrictionOptionsLanguageRestrictionType_in_LanguageRestrictionOptions_restrictionType:
      description: |2-
         - WHITELIST: The allowing list. The incoming audio can contain only the listed languages.
         - BLACKLIST: The forbidding list. The incoming audio cannot contain the listed languages.
      type: string
      enum:
      - WHITELIST
      - BLACKLIST
    RawAudioAudioEncoding_in_RawAudio_audioEncoding:
      description: |-
        Type of audio encoding

         - LINEAR16_PCM: Audio bit depth 16-bit signed little-endian (Linear PCM).
      type: string
      enum:
      - LINEAR16_PCM
    AudioFormatOptions_in_RecognitionModelOptions_audioFormat:
      description: |-
        Specified input audio.

        Audio format options.
      type: object
      allOf:
      - title: AudioFormat
        type: object
        maxProperties: 1
        properties:
          rawAudio:
            $ref: '#/components/schemas/RawAudio'
            description: Audio without container.
          containerAudio:
            $ref: '#/components/schemas/ContainerAudio'
            description: Audio is wrapped in container.
    TextNormalizationOptions_in_RecognitionModelOptions_textNormalization:
      description: |-
        Text normalization options.

        Options
      type: object
      properties:
        textNormalization:
          $ref: '#/components/schemas/TextNormalizationOptionsTextNormalization_in_TextNormalizationOptions_textNormalization'
        profanityFilter:
          description: 'Profanity filter (default: false).'
          type: boolean
          format: boolean
        literatureText:
          description: 'Rewrite text in literature style (default: false).'
          type: boolean
          format: boolean
    LanguageRestrictionOptions_in_RecognitionModelOptions_languageRestriction:
      description: |-
        Possible languages in audio.

        Type of restriction for the list of languages expected in the incoming speech stream.
      type: object
      properties:
        restrictionType:
          $ref: '#/components/schemas/LanguageRestrictionOptionsLanguageRestrictionType_in_LanguageRestrictionOptions_restrictionType'
        languageCode:
          type: array
          items:
            type: string
    RecognitionModelOptionsAudioProcessingType_in_RecognitionModelOptions_audioProcessingType:
      description: How to deal with audio data (in real time, after all data is received,
        etc). Default is REAL_TIME.
      type: string
      enum:
      - REAL_TIME
      - FULL_DATA
    CodeType_in_StatusCode_codeType:
      description: Code type.
      type: string
      enum:
      - WORKING
      - WARNING
      - CLOSED
    RecognitionModelOptions_in_StreamingOptions_recognitionModel:
      description: Configuration for speech recognition model.
      type: object
      properties:
        model:
          description: Reserved for future, do not use.
          type: string
        audioFormat:
          $ref: '#/components/schemas/AudioFormatOptions_in_RecognitionModelOptions_audioFormat'
        textNormalization:
          $ref: '#/components/schemas/TextNormalizationOptions_in_RecognitionModelOptions_textNormalization'
        languageRestriction:
          $ref: '#/components/schemas/LanguageRestrictionOptions_in_RecognitionModelOptions_languageRestriction'
        audioProcessingType:
          $ref: '#/components/schemas/RecognitionModelOptionsAudioProcessingType_in_RecognitionModelOptions_audioProcessingType'
    EouClassifierOptions_in_StreamingOptions_eouClassifier:
      description: Configuration for end of utterance detection model.
      type: object
      allOf:
      - title: Classifier
        type: object
        maxProperties: 1
        properties:
          defaultClassifier:
            $ref: '#/components/schemas/DefaultEouClassifier'
            description: EOU classifier provided by SpeechKit. Default.
          externalClassifier:
            $ref: '#/components/schemas/ExternalEouClassifier'
            description: EOU is enforced by external messages from user.
    TextNormalizationOptionsTextNormalization_in_TextNormalizationOptions_textNormalization:
      description: |-
        Normalization

         - TEXT_NORMALIZATION_ENABLED: Enable normalization
         - TEXT_NORMALIZATION_DISABLED: Disable normalization
      type: string
      enum:
      - TEXT_NORMALIZATION_ENABLED
      - TEXT_NORMALIZATION_DISABLED
tags:
- name: Recognizer
  description: A set of methods for voice recognition.
