Email the following documents to [{{ billing-docs-email }}](mailto:{{ billing-docs-email }}):




* Copy in English of the legal entity's or individual entrepreneur's certificate of incorporation or registration.
* [Billing account ID](../../billing/concepts/billing-account.md#billing-account-id).
