openapi: 3.0.0
info:
  title: Vision API
  description: The service does not operate with resources.
  version: v2
  x-y-docUri: classifier/api-ref
  x-y-baseUrl: https://vision.api.cloud.yandex.net
paths: {}
components:
  schemas:
    AnnotationResponse:
      type: object
      properties:
        requestId:
          description: internal service requestId
          type: string
        classifierSpecification:
          $ref: '#/components/schemas/ClassifierSpecification_in_AnnotationResponse_classifierSpecification'
        annotations:
          description: annotations for each class
          type: array
          items:
            $ref: '#/components/schemas/ClassAnnotation'
    ClassAnnotation:
      description: Image annotation for specific label
      type: object
      properties:
        label:
          $ref: '#/components/schemas/Label_in_ClassAnnotation_label'
        confidence:
          description: confidence for each label
          type: number
          format: double
    ClassifierSpecification:
      description: Specification of model used for annotation
      type: object
      properties:
        labels:
          description: List of labels, annotated by service
          type: array
          items:
            $ref: '#/components/schemas/Label'
        classificationType:
          $ref: '#/components/schemas/ClassifierSpecificationClassificationType_in_ClassifierSpecification_classificationType'
    ClassifierSpecificationClassificationType:
      type: string
      enum:
      - MULTI_LABEL
      - MULTI_CLASS
    Image:
      type: object
      allOf:
      - type: object
        properties:
          imageType:
            $ref: '#/components/schemas/ImageImageType'
            description: type of data
      - title: ImageSource
        type: object
        maxProperties: 1
        properties:
          content:
            description: bytes with data
            type: string
            format: byte
    ImageImageType:
      description: type of image
      type: string
      enum:
      - JPEG
      - PNG
    Label:
      description: Description of single label
      type: object
      properties:
        name:
          description: Label name
          type: string
        description:
          description: human readable description of label
          type: string
    ClassifierSpecification_in_AnnotationResponse_classifierSpecification:
      description: |-
        class specification

        Specification of model used for annotation
      type: object
      properties:
        labels:
          description: List of labels, annotated by service
          type: array
          items:
            $ref: '#/components/schemas/Label'
        classificationType:
          $ref: '#/components/schemas/ClassifierSpecificationClassificationType_in_ClassifierSpecification_classificationType'
    Label_in_ClassAnnotation_label:
      description: |-
        list of annotated labels

        Description of single label
      type: object
      properties:
        name:
          description: Label name
          type: string
        description:
          description: human readable description of label
          type: string
    ClassifierSpecificationClassificationType_in_ClassifierSpecification_classificationType:
      description: 'type of annotation: exclusive (multi-class) or non-exclusive (multi-label)'
      type: string
      enum:
      - MULTI_LABEL
      - MULTI_CLASS
tags:
- name: ImageClassifier
